<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实习帮小程序码</title>
</head>
<body>
    <p align="center" style="color:red;font-size:66px;">{$user_id}</p>
    <p align="center" style="color:red;font-size:66px;">{$user_name}，您好</p>
    <p align="center" style="color:red;font-size:66px;">小程序审核中，此处应为小程序码</p>
    <p style="text-align:center">
        <img src="{$user_qrcode}" />
    </p>
    <p align="center" style="color:black;font-size:66px;">长按扫描二维码进入</p>
    <p align="center" style="color:black;font-size:66px;">
        <strong>
            实习帮
        </strong>
        小程序
    </p>
    <p align="center" style="color:black;font-size:66px;">
        <strong>
            注意：以上二维码含有个人信息，请勿分享
        </strong>
    </p>
    <p align="center" style="color:black;font-size:66px;">小程序审核中，此处应为小程序码</p>
</body>
</html>